.guild-icon {
    height: 38px;
}

body {
    background: url('/public/assets/discord.png') fixed center;
    background-size: cover;
    color: #ffffff;
}

.color-dark {
    background-color: #2C2F33;
}

.jumbotron,
.breadcrumb,
footer,
header,
.color-black {
    background-color: #23272a;
}

.btn-primary {
    background-color: #7289DA;
}

.btn-secondary {
    background-color: #99AAB5;
}

a {
    color: #7289DA;
}