<!DOCTYPE html>
<html>

    <%- include('includes/head'); %>

    <body class="d-flex flex-column justify-content-between vh-100">

        <%- include('includes/header'); %>

        <main class="container">

            <div class="jumbotron">
                <h1>Log in with Discord</h1>
                <hr>

                <p class="text-justify">In order to configure the bot, you have to log in with Discord first. This is only used to see the guilds you are in.</p>
                <div class="text-center">
                    <a class="btn btn-primary btn-lg" href="<%= oauth_url %>">Log in with Discord</a>
                </div>
            </div>

        </main>

        <%- include('includes/footer'); %>

    </body>

</html>