<!DOCTYPE html>
<html>

    <%- include('includes/head'); %>

    <body class="d-flex flex-column justify-content-between vh-100">

        <header>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">API</li>
                </ol>
            </nav>

        </header>

        <main class="container">

            <div class="jumbotron">
                <h1>API documentation</h1>

            </div>

        </main>

        <%- include('includes/footer'); %>

    </body>

</html>