<!DOCTYPE html>
<html>

    <%- include('includes/head'); %>

    <body class="d-flex flex-column justify-content-between vh-100">

        <%- include('includes/header'); %>

        <main class="container">

            <div class="jumbotron">
                <h1>API documentation</h1>
                <p class="text-muted">
                    I am not good at writing documentation but here is a small help if you want to play around with the bot's API.
                </p>

                <table class="table table-dark table-responsive">
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>Method</th>
                            <th>Body</th>
                            <th>Response</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>/api/in</td>
                            <td>GET</td>
                            <td></td>
                            <td>Number</td>
                            <td>Returns the amount the bot is in.</td>
                        </tr>
                        <tr>
                            <td>/api/in/:guild</td>
                            <td>GET</td>
                            <td></td>
                            <td>Boolean</td>
                            <td>Returns true if the bot is in the specified guild.</td>
                        </tr>
                        <tr>
                            <td>/api/setting/:guild/:setting</td>
                            <td>GET</td>
                            <td></td>
                            <td>*</td>
                            <td>Returns the value of the given setting for the guild.</td>
                        </tr>
                        <tr>
                            <td>/api/setting/:guild/:setting</td>
                            <td>POST</td>
                            <td>{value: "value of the setting", token: "your discord oauth token"}</td>
                            <td>Skipped (value is the same) | OK (value changed)</td>
                            <td>Change the value of the given setting.</td>
                        </tr>
                        <tr>
                            <td>/api/alias/:guild</td>
                            <td>GET</td>
                            <td></td>
                            <td>[{alias: "alias used", command: "executed command"}]</td>
                            <td>Returns an array of aliases for the given guild.</td>
                        </tr>
                        <tr>
                            <td>/api/alias/:guild</td>
                            <td>POST</td>
                            <td>{alias: "alias used", command: "executed command", token: "your discord oauth token"}</td>
                            <td>OK (alias created)</td>
                            <td>Create a new alias.</td>
                        </tr>
                        <tr>
                            <td>/api/alias/:guild</td>
                            <td>UPDATE</td>
                            <td>{alias: "alias used", command: "executed command", token: "your discord oauth token"}</td>
                            <td>Skipped (value is the same) | OK (value changed)</td>
                            <td>Update the values for an alias.</td>
                        </tr>
                        <tr>
                            <td>/api/alias/:guild</td>
                            <td>DELETE</td>
                            <td>{alias: "alias used", token: "your discord oauth token"}</td>
                            <td>OK (alias deleted)</td>
                            <td>Delete an alias.</td>
                        </tr>
                        <tr>
                            <td>/api/command/:guild/:command</td>
                            <td>GET</td>
                            <td></td>
                            <td>Boolean</td>
                            <td>Return true if the command is enabled in the guild.</td>
                        </tr>
                        <tr>
                            <td>/api/command/:guild/:command</td>
                            <td>POST</td>
                            <td>{state: Boolean, token: "your discord oauth token"}</td>
                            <td>Skipped (value is the same) | OK (value changed)</td>
                            <td>Enables or disables a command.</td>
                        </tr>
                        <tr>
                            <td>/api/event/:guild/:event</td>
                            <td>GET</td>
                            <td></td>
                            <td>Boolean</td>
                            <td>Return true if the event is enabled in the guild.</td>
                        </tr>
                        <tr>
                            <td>/api/event/:guild/:event</td>
                            <td>POST</td>
                            <td>{state: Boolean, token: "your discord oauth token"}</td>
                            <td>Skipped (value is the same) | OK (value changed)</td>
                            <td>Enables or disables an event.</td>
                        </tr>
                        <tr>
                            <th colspan="5">The following are not planned features</th>
                        </tr>
                        <tr>
                            <td>/api/warns/:guild</td>
                            <td>GET</td>
                            <td></td>
                            <td>[{id: id, user: {username: "username", avatar: "avatar"}, reason: reason, warned_by: {username: "username", avatar: "avatar"}}]</td>
                            <td>Returns an array of warned users.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </main>

        <%- include('includes/footer'); %>

    </body>

</html>