<!DOCTYPE html>
<html>

    <%- include('includes/head'); %>

    <body class="d-flex flex-column justify-content-between vh-100">

        <%- include('includes/header'); %>

        <main class="container">

            <div class="jumbotron">
                <h1>Change settings</h1>
                <hr>

                <ul class="nav nav-pills mb-3 d-flex justify-content-between" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="pills-settings-tab" data-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-settings" aria-selected="true">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-aliases-tab" data-toggle="pill" href="#pills-aliases" role="tab" aria-controls="pills-aliases" aria-selected="false">Custom commands & aliases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-features-tab" data-toggle="pill" href="#pills-features" role="tab" aria-controls="pills-features" aria-selected="false">Toggle commands & features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-statistics-tab" data-toggle="pill" href="#pills-statistics" role="tab" aria-controls="pills-statistics" aria-selected="false">Server statistics</a>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form id="bot-settings">
                            <div class="form-group form-check">
                                <input type="checkbox" class="setting-value form-check-input" id="bodyguard" name="bodyguard">
                                <label class="form-check-label" for="bodyguard">Bodyguard</label>
                                <small id="emailHelp" class="form-text text-muted">Toggles bad words censorship (French only).</small>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="setting-value form-check-input" id="spam_protection" name="spam_protection">
                                <label class="form-check-label" for="spam_protection">Spam protection</label>
                                <small class="form-text text-muted">Toggles spam protection.</small>
                            </div>

                            <div class="form-group">
                                <label for="lang">Language</label>

                                <select class="setting-value form-control" id="lang" name="lang">
                                    <option value="en">English</option>
                                    <option value="fr">French</option>
                                </select>

                                <small class="form-text text-muted">Language of the bot.</small>
                            </div>

                            <div class="form-group">
                                <label for="command_cooldown">Command cooldown</label>
                                <input type="number" class="setting-value form-control" id="command_cooldown" name="command_cooldown" value="5">
                                <small class="form-text text-muted">Cooldown between sames messages and commands in seconds.</small>
                            </div>

                            <div class="form-group">
                                <label for="prefix">Prefix</label>
                                <input type="text" class="setting-value form-control" id="prefix" name="prefix" value="?">
                                <small class="form-text text-muted">Prefix used for commands.</small>
                            </div>

                            <button type="button" class="btn btn-primary w-100" onclick="save();">Save</button>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-aliases" role="tabpanel" aria-labelledby="pills-aliases-tab">
                        <p class="text-muted text-center">This tab is still WIP, you can only add aliases.</p>

                        <form>
                            <div id="aliases" class="form-group">
                                No aliases in this guild.
                            </div>
                        </form>

                        <hr>

                        <form id="new-alias">
                            <div class="form-group">
                                <label>Add new alias</label>
                                <div class="row">

                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="Alias" name="alias">
                                    </div>

                                    <div class="col-4">
                                        <input type="text" class="form-control" placeholder="Command" name="command">
                                    </div>

                                    <div class="col-4">
                                        <button type="button" class="btn btn-primary w-100" onclick="addAlias();">Add alias</button>
                                    </div>

                                </div>
                                <small class="form-text text-muted">Write an alias to be used to execute an other command, don't write the prefix.</small>

                            </div>

                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-features" role="tabpanel" aria-labelledby="pills-features-tab">
                        <p class="text-muted text-center">This tab will be available soon.</p>
                        <div class="row">
                            <div class="col-6">
                                <h3>Commands</h3>
                            </div>
                            <div class="col-6">
                                <h3>Features</h3>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-statistics" role="tabpanel" aria-labelledby="pills-statistics-tab">
                        <p class="text-muted text-center">This tab will be available soon.</p>
                        <h3>Messages sent by user</h3>
                        <h3>Interractions with the bot</h3>
                    </div>
                </div>
            </div>

            <script>

                setSettingValue();
                getAliases();
                setPills();

            </script>

        </main>

        <%- include('includes/footer'); %>

    </body>

</html>